{% extends 'base.html' %}


{% block content %}





<div class="card" style="width: 18rem;" id="tours">
  {% for t in tours %}
  <div class="card-body">
    <div class="card-title">
    </div>
    <div class="card-text" id="tourCard{{ t.id }}">
                <ul id="tour{{ t.id }}">
                            <h5>{{ t.name }}</h5>
                            <li>{{ t.city }}</li>
                            <li>{{ t.days }}</li>
                            <li>{{ t.price }}$</li>
                            <li>{{ t.date }}</li>
                </ul>

    </div>
  </div>
    {% endfor %}
</div>




{% endblock %}






{% block scripts %}

  <script src="/static/js/create-tour.js"></script>


{% endblock %}
